/postgres-card/
/postgres-user/
/api-gateway/target/
/discovery-server/target/
/card/target/
/notification/target/
/pdf-generator/target/
/user/target/
/vehicle/target/
/vehicle/src/main/java/io/github/mateuszuran/config/CloudinaryConfig.java
/postgres-vehicle/
/frontend/card-ui/src/components/card.html
/frontend/card-ui/src/components/main.css
/mongodb-vehicle/
/mysql_keycloak_data/
/keycloak-authorization-server/mysql_keycloak_data/
