version: '3'
services:
  ## Postgres Docker Compose Config
  postgres-user:
    container_name: postgres-user
    image: postgres:alpine3.16
    environment:
      POSTGRES_DB: user-service
      POSTGRES_USER: mateuszuran
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - ./postgres-user:/data/postgres
    expose:
      - "5431"
    ports:
      - "5431:5431"
    command: -p 5431
    networks:
      - postgres-user
    restart: unless-stopped

  postgres-card:
    container_name: postgres-card
    image: postgres:alpine3.16
    environment:
      POSTGRES_DB: card-service
      POSTGRES_USER: mateuszuran
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - ./postgres-card:/data/postgres
    ports:
      - "5432:5432"
    restart: unless-stopped

  postgres-vehicle:
    container_name: postgres-vehicle
    image: postgres:alpine3.16
    environment:
      POSTGRES_DB: vehicle-service
      POSTGRES_USER: mateuszuran
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - ./postgres-vehicle:/data/postgres
    expose:
      - "5433"
    ports:
      - "5433:5433"
    command: -p 5433
    networks:
      - postgres-vehicle
    restart: unless-stopped

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "8282:80"
    networks:
      - postgres-user
      - postgres-vehicle
    restart: unless-stopped

  ## Broker
  zookeeper:
    image: confluentinc/cp-zookeeper:5.4.10-1-ubi8
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    image: confluentinc/cp-kafka:5.4.10-1-ubi8
    container_name: broker
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
  ## Eureka Server
  discovery-server:
    build:
      context: ./discovery-server
      dockerfile: Dockerfile
    image: discovery-server
    container_name: discovery-server
    hostname: discovery-server
    ports:
      - "8761:8761"
    depends_on:
      - zipkin

  api-gateway:
    build:
      context: ./api-gateway/
      dockerfile: Dockerfile
    image: api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    expose:
      - "8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - zipkin
      - discovery-server
  ## Card-Service Docker Compose Config
#  card-service:
#    container_name: card-service
#    build:
#      context: ./card/
#      dockerfile: Dockerfile
#    image: card
#    environment:
#      - SPRING_PROFILES_ACTIVE=docker
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-card:5432/card-service
#    depends_on:
#      - postgres-card
#      - broker
#      - zipkin
#      - discovery-server
#      - api-gateway
networks:
  postgres-user:
    driver: bridge
  postgres-vehicle:
    driver: bridge

volumes:
  postgres-user:
  postgres-card:
  postgres-vehicle:
  pgadmin:
