@page {
    size: A4 landscape;
}
/**
.wrapper {
    margin: 0;
    padding: 0;
    outline: 0;
}
**/
#first_table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,0.25);
}

#card_image {
    width: 100%;
}

#card_main {
    width: 100%;
}

#card_main td {
    padding-bottom: 20px;
}

#address_table {
    width: 100%;
}

.address {
    font-size: 13px;
    font-weight: bold;
    color: #4700b8;
}

#second_table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    border-left: 1px solid rgba(0,0,0,0.25);
    border-right: 1px solid rgba(0,0,0,0.25);
}

#second_table .info {
    width: 70%;
}

#second_table .counters {
    width: 30%;
    border-left: 1px solid rgba(0,0,0,0.25);
}

#second_table td {
    padding: 0;
}

#car_info_table {
    width: 100%;
    border-collapse: collapse;
}

#car_info_table td {
    /**padding: 10px;**/
}

#counters_info_table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    margin: 0;
}

#counters_info_table td {
    /**padding: 10px;**/
}

#counters_info_table .right_border {
    border-right: 1px solid rgba(0,0,0,0.25);
}

#counters_info_table .head {
    height: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding: 0;
    white-space: nowrap;
}

#counters_info_table .h_single_border {
    border-right: 1px solid rgba(0,0,0,0.25);
}

#counters_info_table .upper_padding {
    padding-top: 15px;
}

#counters_info_table td:nth-child(2) {
    border-right: 1px solid rgba(0,0,0,0.25);
}

.car_info {
    margin: 0;
}

.registration {
    font-weight: bold;
}

#third_table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    border-left: 1px solid rgba(0,0,0,0.25);
    border-right: 1px solid rgba(0,0,0,0.25);
}

#third_table td {
    padding: 0;
}

#third_table .refueling_table {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    width: 70%;
}

#third_table .refueling {
    width: 30%;
}

#fuel_table {
    width: 100%;
    border-style: hidden;
    text-align: center;
    border-collapse: collapse;
}

#fuel_table tr > td {
    padding: 5px;
}

#fuel_table th {
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

#fuel_table td {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 4px;
}

#fuel_table tr:nth-child(+n+11) {
    display: none;
}

#fuel_table tr:last-child {
    display: visible;
}

#fuel_final_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-style: hidden;
    text-align: left;
}

#fuel_final_table tr > td {
    padding: 5px;
}

#fuel_final_table td {
    border-right: 1px solid rgba(0,0,0,0.25);
    border-top: 1px solid rgba(0,0,0,0.25);
    padding: 4px;
    white-space: nowrap;
}

.small_font {
    font-size: 10px;
}

.text_left {
    text-align: left;
}

#fuel_final_table .hide_border {
    border-right: 1px solid transparent;
}

#bottom_table {
    width: 100%;
    font-weight: bold;
    text-align: left;
    border-style: hidden;
    border: 0;
}

#trip_table {
    page-break-before: always;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-style: hidden;
    border-left: 1px solid rgba(0,0,0,0.25);
    border-right: 1px solid rgba(0,0,0,0.25);
    border-top: 1px solid rgba(0,0,0,0.25);
}

#trip_table tr:nth-child(+n+22) {
    display: none;
}

#trip_table tr:last-child {
    display: visible;
}

#trip_table tr th {
    border: 1px solid  rgba(0,0,0,0.25);
}

#trip_table tr td {
    border: 1px solid  rgba(0,0,0,0.25);
}

#trip_table .start {
    color:#2323DC;
}

#trip_table .end {
    color:#DC2300;
}

#trip_table .misc {
    color:#008000;
}

#trip_table .middle {
    border-right: 2px solid black;
}

#end_table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    border-left: 1px solid rgba(0,0,0,0.25);
    border-right: 1px solid rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}