<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Users Vehicle Details</mat-card-title>
        <span class="card-header-spacer"></span>
        <span>
            <button mat-flat-button color="accent" class="vehicle-button" *ngIf="!vehicle && vehicleIsEmpty"
                [routerLink]="['add-truck', userId]">add</button>
        </span>
    </mat-card-header>
    <mat-card-content *ngIf="vehicle && !vehicleIsEmpty">
        <mat-divider></mat-divider>
        <mat-card-header class="sub-header">
            <span>
                <mat-card-subtitle>Truck</mat-card-subtitle>
            </span>
            <span class="card-header-spacer"></span>
            <span>
                <button mat-flat-button color="accent" class="vehicle-button" (click)="editTruck()">edit</button>
            </span>
        </mat-card-header>

        <div class="truck" *ngIf="vehicle.truck && !editMode">
            <span>
                <p class="vehicle-data-headers">Model</p>
                <p class="vehicle-data">{{vehicle.truck.model}}</p>&nbsp;
            </span>
            <span>
                <p class="vehicle-data-headers">Type</p>
                <p class="vehicle-data">{{vehicle.truck.type}}</p>&nbsp;
            </span>
            <span>
                <p class="vehicle-data-headers">License Plate</p>
                <p class="vehicle-data">{{vehicle.truck.licensePlate}}</p>&nbsp;
            </span>
            <span>
                <p class="vehicle-data-headers">Fuel Tanks (left/right)</p>
                <p class="vehicle-data">{{vehicle.truck.leftTankFuelCapacity}}/{{vehicle.truck.rightTankFuelCapacity}}
                </p>&nbsp;
            </span>
            <span>
                <p class="vehicle-data-headers">Adblue Tank</p>
                <p class="vehicle-data">{{vehicle.truck.adBlueCapacity}}</p>&nbsp;
            </span>
        </div>

        <div class="truck" *ngIf="vehicle.truck && editMode">
            
            <form [formGroup]="truckEditForm" (ngSubmit)="saveEditedTruck()">
                <span>
                    <p class="vehicle-data-headers">Model</p>
                    <p class="vehicle-data"><input formControlName="model" required></p>
                </span>
                <span>
                    <p class="vehicle-data-headers">Type</p>
                    <p class="vehicle-data"><input formControlName="type" required></p>
                </span>
                <span>
                    <p class="vehicle-data-headers">License Plate</p>
                    <p class="vehicle-data"><input formControlName="licensePlate" required></p>
                </span>
                <span>
                    <p class="vehicle-data-headers">Left Fuel Tank</p>
                    <p class="vehicle-data"><input formControlName="leftTankFuelCapacity" required></p>
                </span>
                <span>
                    <p class="vehicle-data-headers">Right Fuel Tank</p>
                    <p class="vehicle-data"><input formControlName="rightTankFuelCapacity" required></p>
                </span>
                <span>
                    <p class="vehicle-data-headers">Adblue Tank</p>
                    <p class="vehicle-data" ><input formControlName="adBlueCapacity" required></p>
                </span>
                <div class="submit-wrapper">
                    <button mat-flat-button>Submit</button>
                </div>
            </form>

        </div>

        <mat-divider></mat-divider>
        <mat-card-header class="sub-header">
            <span>
                <mat-card-subtitle>Trailer</mat-card-subtitle>
            </span>
            <span class="card-header-spacer"></span>
            <span>
                <button mat-flat-button color="accent" class="vehicle-button" *ngIf="validateTrailerFrom"
                    [routerLink]="['add-trailer', vehicleId]">add</button>
                <button mat-flat-button color="accent" class="vehicle-button">edit</button>
            </span>
        </mat-card-header>
        <div class="trailer" *ngIf="vehicle.trailer">
            <span>
                <p class="vehicle-data-headers">Type</p>
                <p class="vehicle-data">{{vehicle.trailer.type}}</p>&nbsp;
            </span>
            <span>
                <p class="vehicle-data-headers">License Plate</p>
                <p class="vehicle-data">{{vehicle.trailer.licensePlate}}</p>&nbsp;
            </span>
            <span>
                <p class="vehicle-data-headers">Fuel Tank</p>
                <p class="vehicle-data">{{vehicle.trailer.fuelCapacity}}</p>&nbsp;
            </span>
        </div>
        <mat-divider></mat-divider>
        <mat-card-header class="sub-header">
            <span>
                <mat-card-subtitle>Vehicle Image</mat-card-subtitle>
            </span>
            <span class="card-header-spacer"></span>
            <span>
                <button mat-flat-button color="accent" class="vehicle-button" *ngIf="validateImageFrom"
                    [routerLink]="['add-image', vehicleId]">add</button>
                <button mat-flat-button color="accent" class="vehicle-button">edit</button>
            </span>
        </mat-card-header>
        <div class="truck-image" *ngIf="vehicle.image">
            <span>
                <p class="vehicle-data-headers">Name</p>
                <p class="vehicle-data">{{vehicle.image.name}}</p>&nbsp;
            </span>
            <span>
                <p class="vehicle-data-headers">Description</p>
                <p class="vehicle-data">{{vehicle.image.description}}</p>&nbsp;
            </span>
            <span>
                <p class="vehicle-data-headers">Image</p>
                <div class="image-wrapper">
                    <img *ngIf="vehicle.image.link; else elseBlock" src={{vehicle.image.link}}>
                    <ng-template #elseBlock>
                        <img
                            src="http://res.cloudinary.com/dzwnsabwr/image/upload/v1674478194/akiizaq8ftpw8bpgq3hb.png">
                    </ng-template>
                </div>
            </span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button *ngIf="vehicle" (click)="deleteVehicle()">DELETE</button> -->
        <button mat-button *ngIf="vehicle" (click)="deleteVehicle()">DELETE</button>
    </mat-card-actions>
</mat-card>