<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Users Vehicle Details</mat-card-title>
        <span class="card-header-spacer"></span>
        <span>
            <button mat-flat-button color="accent" class="vehicle-button" *ngIf="vehicleIsEmpty"
                [routerLink]="['add-truck', userId]">add</button>
        </span>
    </mat-card-header>
    <mat-card-content *ngIf="vehicle && !vehicleIsEmpty">
        <mat-divider></mat-divider>
        <mat-card-header class="sub-header">
            <span>
                <mat-card-subtitle>Truck</mat-card-subtitle>
            </span>
            <span class="card-header-spacer"></span>
            <span>
                <button mat-flat-button color="accent" class="vehicle-button" (click)="editModeTruck=true"
                    [disabled]="editModeTruck">edit</button>
            </span>
        </mat-card-header>

        <div class="truck" *ngIf="vehicle.truck && !editModeTruck">
            <span>
                <p class="vehicle-data-headers">Model</p>
                <p class="vehicle-data" *ngIf="vehicle.truck.model; else showEmptyValue">{{vehicle.truck.model}}</p>
                <ng-template #showEmptyValue>      
                    <p class="vehicle-data">&nbsp;</p>
                </ng-template>
            </span>
            <span>
                <p class="vehicle-data-headers">Type</p>
                <p class="vehicle-data">{{vehicle.truck.truckType}}</p>
            </span>
            <span>
                <p class="vehicle-data-headers">License Plate</p>
                <p class="vehicle-data">{{vehicle.truck.truckLicensePlate}}</p>
            </span>
            <span>
                <p class="vehicle-data-headers">Fuel Tanks (left/right)</p>
                <p class="vehicle-data">{{vehicle.truck.leftTankFuelCapacity}}/{{vehicle.truck.rightTankFuelCapacity}}
                </p>
            </span>
            <span>
                <p class="vehicle-data-headers">Adblue Tank</p>
                <p class="vehicle-data">{{vehicle.truck.adBlueCapacity}}</p>
            </span>
        </div>

        <div class="truck" *ngIf="vehicle.truck && editModeTruck">

            <app-edit-truck [truck]="vehicle.truck" (mode)="editModeTruck = $event"
                (updatedTruck)="vehicle.truck = $event"></app-edit-truck>

        </div>

        <mat-divider></mat-divider>
        <mat-card-header class="sub-header">
            <span>
                <mat-card-subtitle>Trailer</mat-card-subtitle>
            </span>
            <span class="card-header-spacer"></span>
            <span>
                <button mat-flat-button color="accent" class="vehicle-button" *ngIf="validateTrailerForm"
                    [routerLink]="['add-trailer', vehicleId]">add</button>
                <button mat-flat-button color="accent" class="vehicle-button" *ngIf="!validateTrailerForm" (click)="editModeTrailer=true"
                    [disabled]="editModeTrailer">edit</button>
            </span>
        </mat-card-header>

        <div class="trailer" *ngIf="vehicle.trailer && !editModeTrailer">
            <span>
                <p class="vehicle-data-headers">Type</p>
                <p class="vehicle-data" *ngIf="vehicle.trailer.trailerType; else showEmptyValue">{{vehicle.trailer.trailerType}}</p>
                <ng-template #showEmptyValue>
                    <p class="vehicle-data">&nbsp;</p>
                </ng-template>
            </span>
            <span>
                <p class="vehicle-data-headers">License Plate</p>
                <p class="vehicle-data" *ngIf="vehicle.trailer.trailerLicensePlate; else showEmptyValue">{{vehicle.trailer.trailerLicensePlate}}</p>
                <ng-template #showEmptyValue>
                    <p class="vehicle-data">&nbsp;</p>
                </ng-template>
            </span>
            <span>
                <p class="vehicle-data-headers">Fuel Tank</p>
                <p class="vehicle-data" *ngIf="vehicle.trailer.trailerFuelCapacity; else showEmptyValue">{{vehicle.trailer.trailerFuelCapacity}}</p>
                <ng-template #showEmptyValue>
                    <p class="vehicle-data">&nbsp;</p>
                </ng-template>
            </span>
        </div>

        <div class="truck" *ngIf="vehicle.truck && editModeTrailer">

            <app-edit-trailer [trailer]="vehicle.trailer" [vehicleId]="vehicleId" (mode)="editModeTrailer = $event"
                (updatedTrailer)="vehicle.trailer = $event"></app-edit-trailer>

        </div>

        <mat-divider></mat-divider>
        <mat-card-header class="sub-header">
            <span>
                <mat-card-subtitle>Vehicle Image</mat-card-subtitle>
            </span>
            <span class="card-header-spacer"></span>
            <span>
                <button mat-flat-button color="accent" class="vehicle-button" *ngIf="validateImageForm"
                    [routerLink]="['add-image', vehicleId]">add</button>
                <button mat-flat-button color="accent" class="vehicle-button" *ngIf="!validateImageForm" (click)="editModeImageInfo = true"
                    [disabled]="editModeImageInfo">edit</button>
            </span>
        </mat-card-header>

        <div class="truck-image" *ngIf="vehicle.image && !editModeImageInfo">
            <span>
                <p class="vehicle-data-headers">Name</p>
                <p class="vehicle-data" *ngIf="vehicle.image.vehicleImageName; else showEmptyValue">{{vehicle.image.vehicleImageName}}</p>&nbsp;
                <ng-template #showEmptyValue>
                    <p class="vehicle-data">&nbsp;</p>
                </ng-template>
            </span>
            <span>
                <p class="vehicle-data-headers">Description</p>
                <p class="vehicle-data" *ngIf="vehicle.image.vehicleImageDescription; else showEmptyValue">{{vehicle.image.vehicleImageDescription}}</p>&nbsp;
                <ng-template #showEmptyValue>
                    <p class="vehicle-data">&nbsp;</p>
                </ng-template>
            </span>
            <span>
                <p class="vehicle-data-headers">Image</p>
                <app-image-upload *ngIf="!vehicle.image.vehicleImageDirectLink" [vehicleId]="vehicleId"
                    (uploadedImage)="vehicle.image.vehicleImageDirectLink = $event"></app-image-upload>
                <div class="image-wrapper" *ngIf="vehicle.image.vehicleImageDirectLink">
                    <div class="image-container">
                        <div *ngIf="vehicle.image.vehicleImageDirectLink">
                            <img src={{vehicle.image.vehicleImageDirectLink}}>
                            <mat-icon (click)="deleteVehicleImage()">close</mat-icon>
                        </div>
                    </div>
                </div>
            </span>
        </div>

        <div class="truck-image" *ngIf="vehicle.image && editModeImageInfo">

            <app-edit-image-info [imageInfo]="vehicle.image" [vehicleId]="vehicleId" (mode)="editModeImageInfo = $event"
                (updatedImageInfo)="vehicle.image = $event"></app-edit-image-info>

        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="!vehicleIsEmpty" (click)="deleteVehicle()">DELETE</button>
    </mat-card-actions>
</mat-card>