<mat-sidenav mode="side" opened class="sidenav">

    <div class="button-wrapper">
        <button mat-stroked-button color="primary" [routerLink]="['new-user']">Add user</button>
    </div>

    <mat-nav-list role="list" *ngFor="let user of username">
        <mat-list-item [routerLink]="['/user-details', user]" routerLinkActive="active">
            <div class="element">
                <div class="image-wrapper">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
                </div>
                <div class="user-wrapper">{{user}}</div>
            </div>
        </mat-list-item>
    </mat-nav-list>

</mat-sidenav>